body {
    background-color: #CAF9FF;
}

.container {
    display : grid;
    grid-template-columns: 1fr 1fr;
}

.container > .item {
    background-color: #92A9E8;
}

.item {
    border: 2px solid green;
}